<div>
    <a href={{image.pageURL}} target="_blank" class="">
      <div class="card text-center ">
        <img class="card-img-top" src={{image.webformatURL}} alt="" />
        <div class="card-body p-2">
          <span class="mr-1">
            <i class="fas fa-eye">
            </i>
            {{image.views}}
          </span>
          <span class="mr-1">
            <i class="fas fa-heart"></i>
            {{image.likes}}
          </span>
          <span class="mr-1">
            <i class="fas fa-solid fa-tag"></i>
            {{image.tags}}
          </span>

        </div>
      </div>
    </a>
  </div>